# Ignore reports & documents
document/related_research
document/proposal/*.pdf
# Ignore raspberry pi certificates
server_simul/raspi/certs
# Ignore datasources
datasource/Landslides.csv
datasource/Global_Landslide_Data.xlsx
# Ignore extra files
/*.bkp
/.idea
/*.ini
/*.sqlite
/__pycache__/
/__pycache__/*
*.pyc
/*rar
# Ignore log file 
tmp/airflow_logs/*
tmp/buffer/*


# Ignore datawarehouse
/landslide_warehouse
# Ignore mlflow path
/mlruns/
/mlartifacts/