document/related_research
/*.bkp
document/proposal/*.pdf
server_simul/raspi/certs
datasource/Landslides.csv
datasource/Global_Landslide_Data.xlsx
.idea
/*.ini
/*.sqlite
__pycache__/
tmp/airflow_logs/*
