Bottleneck @ file:///croot/bottleneck_1709069899917/work
cffi @ file:///croot/cffi_1700254295673/work
cryptography @ file:///croot/cryptography_1702070282333/work
et-xmlfile @ file:///work/perseverance-python-buildout/croot/et_xmlfile_1698868193149/work
mkl-fft @ file:///work/perseverance-python-buildout/croot/mkl_fft_1698845673361/work
mkl-random @ file:///work/perseverance-python-buildout/croot/mkl_random_1698845720894/work
mkl-service==2.4.0
numexpr @ file:///work/perseverance-python-buildout/croot/numexpr_1698871031164/work
numpy @ file:///croot/numpy_and_numpy_base_1708638617955/work/dist/numpy-1.26.4-cp312-cp312-linux_x86_64.whl#sha256=1d700f51d8b4fa684d858c9e3b56b1656bc5c82b6b79ff08d4e3b491c430059f
openpyxl @ file:///work/perseverance-python-buildout/croot/openpyxl_1698896491780/work
pandas @ file:///croot/pandas_1702317985682/work/dist/pandas-2.1.4-cp312-cp312-linux_x86_64.whl#sha256=e08f6f54958b7b5f7624ec6b206777bd22f94786e77f06f8d346e758d3da3fac
psycopg2 @ file:///work/perseverance-python-buildout/croot/psycopg2_1707348232349/work
pycparser @ file:///tmp/build/80754af9/pycparser_1636541352034/work
PyMySQL @ file:///work/perseverance-python-buildout/croot/pymysql_1698898635221/work
python-dateutil @ file:///tmp/build/80754af9/python-dateutil_1626374649649/work
pytz @ file:///work/perseverance-python-buildout/croot/pytz_1698849876288/work
setuptools==68.2.2
six @ file:///tmp/build/80754af9/six_1644875935023/work
tzdata @ file:///croot/python-tzdata_1690578112552/work
wheel==0.41.2
